# .gitignore

# Bỏ qua toàn bộ folder mã nguồn Odoo
/odoo/

# Bỏ qua các file cấu hình chứa thông tin nhạy cảm (pass db,...)
odoo.conf

# Bỏ qua dữ liệu của hệ điều hành và IDE
.vscode/
__pycache__/
*.pyc